/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


/* common css */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    
}
body{
    background-color: #201e20;
    font-family: 'Itim', cursive;
    color: #fff;
}